.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    .wrapper-item{
        display: flex;
        align-items: center;
        gap: 12px;
        h1{
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
        }
    }
}